$off-black: rgb(14, 17, 17);

body {
  background: url(https://images.unsplash.com/photo-1438110823366-38e8409b4afe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07fc8200bd522b0e96ad9b21a2ed25b9&auto=format&fit=crop&w=1950&q=80) no-repeat fixed center center;
  padding: 1em;

  @media screen and (min-width: 2560px) {
    background-size: cover;
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  background: linear-gradient(to bottom, rgba(0, 255, 255, .25), rgba(255, 255, 255, .25));
  color: $off-black;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 3px 3px 10px grey;
  padding: .5em;
  margin: 0 auto;
    & h1 {
      margin-bottom: 0;
    }
    & h2 {
      margin-top: .5em;
    }
  @media screen and (min-width: 768px) {
    max-width: 70%;
    padding: 1em;
    margin-top: 3em;
  }
  @media screen and (min-width: 1024px) {
    max-width: 55%;
  }
  @media screen and (min-width: 1440px) {
    max-width: 40%;
    padding: 2em;
  }
  @media screen and (min-width: 2560px) {
    min-width: 25%;
    max-width: 25%;
    position: absolute;
    top: 10%;
    left: calc(72.5% / 2);
    margin: 0;
      & h1 {
      font-size: 2.75em;
      }
      & h2 {
        font-size: 2em;
      }
  }
}

////////////////
// Quote Area //

.return-quote-container {
  text-align: center;
  max-width: 100%;
  color: white;
  background: linear-gradient(to top, rgba(255, 255, 255, .25), rgba(255, 255, 0, .25));
  color: whitesmoke;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 3px 3px 10px grey;
  padding: .5em;
  margin: 1em auto;

    & p {
    font-size: 20px;
      @media screen and (min-width: 2560px) {
        font-size: 32px;
      }
    }
  @media screen and (min-width: 768px) {
    max-width: 70%;
    margin-top: 3em;
    padding: 1em;
  }
  @media screen and (min-width: 1024px) {
    max-width: 55%;
  }
  @media screen and (min-width: 1440px) {
    max-width: 40%;
    padding: 2em;
  }
  @media screen and (min-width: 2560px) {
    max-width: 25%;
    position: absolute;
    bottom: 30%;
    left: calc(72.5% / 2);
    margin: 0;
  }
}

.spacing {
  min-height: 120px;

  @media screen and (min-width: 375px) {
    min-height: 100px;
  }
  @media screen and (min-width: 768px) {
    min-height: 70px;
  }
  @media screen and (min-width: 1024px) {
    min-height: 50px;
  }
}

///////////////////
// Quote Buttons //
.quote-buttons {
  display: flex;
  justify-content: space-around;

  & button {
    display: flex;
    align-items: center;
    background-color: $off-black;
    color: #65BB45;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 2px 2px 10px $off-black;
  }
  & img {
    height: 20px;
    width: 25px;
    margin: 0 auto;
    padding: 0 .5em;
  }
  & a {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: $off-black;
    color: #72CEEC;
    text-decoration: none;
    padding: .2em .5em .2em .5em;
    border-radius: 25px;
    box-shadow: 2px 2px 10px $off-black;
    
  }
  & button:hover {
    cursor: pointer;
  }
  & a:focus, button:focus {
    outline: none;
  }
  .renew {
    width: 20px;
  }
  @media screen and (min-width: 2560px) {
    & button {
      font-size: 24px;
    }
    & a {
      font-size: 24px;
      height: 50px;
    }
  }
}

/////////////
// Credits //

.credits {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  margin-top: 2em;
  & p {
    font-size: 16px;
    margin: .5em 0 0 0;
  }
  & a {
    color: #65BB45;
  }

  @media screen and (min-height: 575px) {
    position: absolute;
    bottom: .5%;
    left: 0;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }
  @media screen and (min-width: 2560px) {
    & p {
      font-size: 24px;
    }
  }
}

